@tailwind base;
@tailwind components;
@tailwind utilities;

[type="checkbox"]:focus {
    --tw-ring-offset-width: 0 !important;
    --tw-ring-shadow: none !important;
}

[type='radio']:checked {
    background-image: none !important;
}
